In [3]:
import tweepy
import pandas as pd

In [10]:
# import tokens from temp credential nb

%run ./keys.ipynb

In [12]:
# add authentication variables to api

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

In [26]:
'''
user_cursor = tweepy.Cursor(api.user_timeline, 
                           id='zerohedge', 
                           tweet_mode='extended').items(1)
                           


kw_cursor = tweepy.Cursor(api.search, 
                           q='israel', 
                           tweet_mode='extended').items(1)

for i in kw_cursor:
    print(i.full_text)

'''

In [28]:
number_of_tweets = 200
tweets = []
likes = []
time = []

for i in tweepy.Cursor(api.search, 
                       q='Israel', 
                       tweet_mode='extended').items(number_of_tweets):
    
    tweets.append(i.full_text)
    likes.append(i.favorite_count)
    time.append(i.created_at)

In [30]:
df = pd.DataFrame({'tweets':tweets,'likes':likes, 'time':time}); df.head()

,tweets,likes,time
0,Welcome news that finally a ceasefire from Fri...,0,2021-05-20 20:24:16
1,"@NBCNews It had to be Israel ðŸ‡®ðŸ‡± , Israel first...",0,2021-05-20 20:24:16
2,RT @AJEnglish: LIVE: Israel and Hamas agree on...,0,2021-05-20 20:24:16
3,RT @BeardedDevil_: Don't buy into this whole c...,0,2021-05-20 20:24:16
4,RT @Immy8713: @SkyNews Israelâ€™s hit its target...,0,2021-05-20 20:24:16

In [35]:
# remove retweets from tweets list

df[~df.tweets.str.contains('RT')].reset_index(drop=True).head()

,tweets,likes,time
0,Welcome news that finally a ceasefire from Fri...,0,2021-05-20 20:24:16
1,"@NBCNews It had to be Israel ðŸ‡®ðŸ‡± , Israel first...",0,2021-05-20 20:24:16
2,"As always, #FreePalestine.\n\nDon't let the ce...",0,2021-05-20 20:24:16
3,IsraÃ«l et le Hamas sâ€™accordent sur un cessez-l...,0,2021-05-20 20:24:16
4,#TRUMP\nBABYLONIANS_MEDES_PERSIANS OTTAMAN EMP...,0,2021-05-20 20:24:15

In [ ]:
pd.to